{% load static %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/staff/dashboard.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<div class="dashboard">
    <div class="dashboard-item total-patients">
        <i class="fas fa-users"></i>
        <h2>Total Users</h2>
        <p class="value">{{ total_users }}</p>
    </div>
    <div class="dashboard-item pending-forms">
        <i class="fas fa-clipboard"></i>
        <h2>Pending Forms</h2>
        <p class="value">20</p>
    </div>
    <div class="dashboard-item total-submitted-forms">
        <i class="fas fa-file-signature"></i>
        <h2>Submitted Forms</h2>
        <p class="value">100</p>
    </div>
    <div class="dashboard-item total-child-patients">
        <i class="fas fa-child"></i>
        <h2>Child Patients</h2>
        <p class="value">300</p>
    </div>
    <div class="dashboard-item total-adolescent-patients">
        <i class="fas fa-user"></i>
        <h2>Adolescent Patients</h2>
        <p class="value">500</p>
    </div>
    <div class="dashboard-item total-adult-patients">
        <i class="fas fa-user-tie"></i>
        <h2>Adult Patients</h2>
        <p class="value">700</p>
    </div>
</div>

</body>
</html>
