{% load static %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/staff/users.css' %}">
</head>
<body>

<div class="manage-container">
    <h2 class="manage-title">Manage Users</h2>
    
    <table class="manage-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Patient Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr class="{% cycle 'even' 'odd' %}">
                <td>{{ user.id }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td><!-- Description column content here --></td>
                <td>
                    <button class="view-button">View</button>
                    <button class="view-button" style="background-color: red; color: white;">Suspend</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>

</body>
</html>
