{% include 'sections.html' %}

{% block content %}

{% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'styles/staff/unverified-forms.css' %}">

<body>
    
    <div class="form-container">
    <h2 class="form-title">Unverified Forms</h2>

    <table class="forms-table">
        <thead>
            <tr>
                <th>Form</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr class="even">
                <td>Form 1</td>
                <td><button class="view-button">View</button></td>
            </tr>
            <tr class="odd">
                <td>Form 2</td>
                <td><button class="view-button">View</button></td>
            </tr>
            <tr class="even">
                <td>Form 3</td>
                <td><button class="view-button">View</button></td>
            </tr>
        </tbody>
    </table>

</div>
</body>
</html>

{% endblock %}