body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.form-container {
    max-width: 1000px; 
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.form-title {
    color: #236FC8;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 30px;
}

.forms-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.forms-table th,
.forms-table td {
    border: none; 
    padding: 10px;
    text-align: center;
}

.forms-table thead {
    background-color: #F7F8FC;
    color: #333333;
}

.forms-table th:first-child,
.forms-table th:last-child {
    font-size: 17px;
}


.forms-table tr:hover {
    background-color: #c8d2e7;
}

.forms-table .even {
    background-color: #ffffff;
}

.forms-table .odd {
    background-color: #F7F8FC;;
}

.view-button {
    background-color: #236FC8;
    color: #FFFFFF;
    border: none;
    padding: 8px 20px; 
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px; 
}

.view-button:hover {
    background-color: #1A4F99;
}

@media screen and (max-width: 500px) {

.form-title {
        margin-top: 20px; 
        margin-left: 50px;
    }

.forms-table{
        margin-left: 30px;
    }
}

@media screen and (max-width: 300px) {

    .nav-link.staff{
        display: none;
    }
    
}

