{% include 'sections.html' %}

{% block content %}

{% load static %}

    <link rel="stylesheet"  href="{% static 'styles/patient/patient_profile.css' %}">

    <body>
        <div class="profile-page">
            <div class="content">
                <div class="content__cover">
                    <div class="content__avatar"></div>
                    <div class="content__bull"></div>
                </div>
        
            <button class="edit-profile">
                <i class="fa-solid fa-pen-to-square"></i>
                Edit
            </button>
            
            <div class="content__title">
                <h1>{{ user.first_name }} {{ user.last_name }}</h1>
            </div>
            <div class="info-item">
                <label>Username:</label>
                <span id="username">{{ user.username }}</span>
            </div>
    
            <div class="profile-info">
    
                <div class="personal-info">
                    <h2>Personal Information</h2>
                        <div class="info-item">
                            <label>Address:</label>
                            <span id="address">{{ user.profile.address }}</span>
                        </div>
    
                        <div class="info-item">
                            <label>Birth Date:</label>
                            <span id="birth-date">{{ user.birth_date }}</span>
                        </div>
                        <!-- Add other personal information fields here -->
                </div>
                
                <div class="medical-info">
                    <h2>Medical Information</h2>
                        <div class="info-item">
                            <label>Blood Type:</label>
                            <span id="blood-type">{{ user.profile.blood_type }}</span>
                        </div>
                        <!-- Add other medical information fields here -->
                </div>
                
            </div>
        </div>        
    </body>
    
{% endblock %}