{% include 'sections.html' %}

{% block content %}

{% load static %}

    <link rel="stylesheet"  href="{% static 'styles/patient/patient_records.css' %}">

<body>
    <div class="records-container">
        <h2 class="records-title">My Records</h2>

        <div class="form-filter">
            <select>
                <option value="">Select form </option> 
                <option value="adult">Adult</option>
                <option value="child">Child</option>
                <option value="pediatrics">Pediatrics</option>
                <option value="ncd-risk">NCD Risk Assessment</option>
                <option value="maternal">Maternal</option>
                <option value="postpartum">Postpartum</option>
                <option value="10-19yrs">10-19 Years Old</option>
            </select>
        </div>

        <button class="add-record">
            <i class="fa-solid fa-plus"></i>
            Add Record
        </button>

            

        <div class="records-container">
            <div id="patientsTable"></div>
            
        
            <table class="records-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Form Name</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
        
                    <tr>
                        <td>1</td>
                        <td>Adult Patient</td>
                        <td>Today</td>
                        <td>Unverified</td>
                        <td><button class="view-button">View</button></td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Adult Patient</td>
                        <td>Yesterday</td>
                        <td>Verified</td>
                        <td><button class="view-button">View</button></td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>NCD Risk Assessment</td>
                        <td>March 23, 2024</td>
                        <td>Verified</td>
                        <td><button class="view-button">View</button></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


        
</body>

{% endblock %}